/*
========================================================================
WISP THEME HEADER BLUEPRINT CODE 

<input id="drawer-menu-toggle-input" type="checkbox" />
<div class="menu-bar">
                
  <div class="menu-bar-site-icon"></div>
  <div id="drawer-menu-toggle">
    <label id="drawer-menu-toggle-label" class="drawer-menu-toggle-label" for="drawer-menu-toggle-input">
      <span></span>
    </label>
  </div>
  <label id="drawer-menu-toggle-close-label" for="drawer-menu-toggle-input"> Close </label>
  <span class="menu-bar-link">{{ bar_text }}</span>
  <div class="menu-bar-spacer"></div>
  <div class="menu-bar-social-links" > {{ bar_end }} </div>
</div>
<div id="drawer-menu-root" class="drawer-menu-root">
                
  <nav class="drawer-nav"> {{ drawer_menu }} </nav>
  <div class="drawer-spacer"></div>
  <a href="/" class="drawer-site-logo">WIPCE</a>
</div>

========================================================================
WISP THEME FOOTER BLUEPRINT CODE

<div class="footer-links">
  <div class="footer-row">
    <div class="footer-social-root">
      <span class="footer-social-title">Follow us</span>
      <div class="footer-social-links">
        <a href="https://www.facebook.com/wipce2025" target="_blank">
          <img src="/static/img/social_icon_facebook.6da62037a2ed.svg" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/wipce2025/" target="_blank">
          <img src="/static/img/social_icon_instagram.9bf4033e0b0c.svg" alt="Instagram">
        </a>
        <a href="https://www.linkedin.com/company/100897825/admin/feed/posts/" target="_blank">
          <img src="/static/img/social_icon_linkedin.4b8e69f1c067.svg" alt="LinkedIn">
        </a>
      </div>
    </div>
    <nav class="footer-nav">
      <a href="/about/">About WIPCE</a>
      <a href="/contact/">Contact</a>
    </nav>
    <div class="footer-spacer"></div>
    <div>
      <a href="/">
        <img 
          src="/static/img/wipce_logo_h.818dd23180eb.svg" 
          alt="WIPCE Aotearoa 2025" 
          class="footer-site-logo-link">
      </a>
    </div>
  </div>
  <div class="footer-row footer-row-info">
    <span>©WIPCE 2025</span>
    <a href="/terms">Terms of use</a>
    <a href="/privacy">Privacy</a>
  </div>
</div>


BECOMES 

<div class="footer-links">
  <div class="footer-row">
    <div class="footer-social-root">
      <span class="footer-social-title">Follow us</span>
      <div class="footer-social-links">
        {{ social_menu }}
      </div>
    </div>
    <nav class="footer-nav">
      {{ nav_menu }}
    </nav>
    <div class="footer-spacer"></div>
    <a href="/" class="footer-site-logo">Home</a>
  </div>
  <div class="footer-row footer-row-info">
    <span>©WIPCE 2025</span>
    {{  legal_menu }}
  </div>
</div>


*/

/* Global variables */

:root {
    --color-accent: #ba39ff;
    --color-accent-muted: #48006e;
    --color-accent-dark: #29003d;
    --color-accent-alt: #dc7a6b;
    --color-footer-decor: #8053a0;
    --pink: #e48fbc;
    --gray-light: #f2f2f6;
    --gray-medium: #eaebeb;
    --drawer-menu-color: rgba(255,255,255,0.5);

    --menu-bar-width: 3rem;
    --menu-toggle-button-size: 30px;
    --menu-bar-padding: 1rem;
    --menu-bar-padding-bottom: 4rem;

    --h-footer-padding: 10vw;
    --v-footer-padding: 5vw;
    
    --h-content-padding: 14vw;
    --v-content-padding: 7vw;
    
    --v-banner-padding: 4.5vw;
    --h-banner-padding: 7vw;

    --default-font-size: 1.1vw;
    --h2-font-size: 3vw;

}

@media screen and (max-width: 1200px) {
    :root {
        --h-content-padding: 7vw;
        --default-font-size: 1.5vw;
        --h2-font-size: 3.5vw;
    }
}
@media screen and (max-width: 750px) {
    :root {
        --h-footer-padding: 4vw;
        --v-footer-padding: 4vw;
        
        --h-content-padding: 4vw;
        --v-content-padding: 8vw;
        
        --v-banner-padding: 4vw;
        --h-banner-padding: 4vw;

        --default-font-size: 0.85rem;
        --h2-font-size: 2rem;
    }
}

/* Links */
a {
    color: var(--color-accent-muted);
}

/* Fonts */
@font-face {
    font-family: 'Rift';
    src:  url('font/Rift-Medium.woff2') format('woff2'),
          url('font/Rift-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rift';
    src:  url('font/Rift-Demi.woff2') format('woff2'),
          url('font/Rift-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Rift';
    src:  url('font/Rift-Bold.woff2') format('woff2'),
          url('font/Rift-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: DINNextPro, Helvetica, sans-serif;
    letter-spacing: -000000000.1px; /* HACK: Fixes bad fonts that render f over each other */
    font-size: var(--default-font-size);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rift', 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-accent-muted);
    line-height: 1em;
}
h1 { 
    font-size: 4.9rem; 
    font-size: 6vw; 
    margin-bottom: 0.3rem;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.49);
}
@media screen and (max-width: 750px) {
    h1 {
        font-size: 15vw; 
    }
}
h2 {
    font-size: var(--h2-font-size);
}
h3 { font-size: 1.7rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

.header-with-tagline {
    margin-bottom: 0;
}

.tagline-large, .tagline-small {
    font-family: 'Rift', 'Arial Narrow', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-accent-muted);
}
.tagline-large { 
    font-size: var(--h2-font-size);
    line-height: 1em;
}
.tagline-small { 
    font-size: 1.5rem; 
    font-size: 1.9vw;
    font-weight: bold; 
}
@media screen and (max-width: 750px){
    .tagline-small {
        font-size: 5vw;
    }
}

.banner-person-name, 
.banner-person-title,
.drawer-menu-root .menu-root,
.action-link-dark, 
.action-link-light,
.menu-bar-link,
#drawer-menu-toggle-close-label {
    font-family: 'Rift', 'Arial Narrow', Arial, Helvetica, sans-serif;
}
.banner-person-name {
    font-weight: bold;
}

.required {
    color: red;
}

/* Main block layout */

html, body {
    padding: 0;
    margin: 0;
}
main {
    padding: 0 var(--h-content-padding);
    padding-bottom: var(--v-content-padding);
}

/* Misc elements */
hr {
    height: 2px;
    color: var(--color-accent);
    background: var(--color-accent);
    font-size: 0;
    border: 0;
    opacity: 1;
}

/* Headers */
h2::before {
    content: '-';
    color: var(--color-accent);
    margin-left: -0.5em;
    margin-right: 0.2em;
}

/* Menu bar */

header{
    position: fixed;
    z-index: 50;
}
header > * {
    width: 100%;
    height: 100%;
}
.menu-bar {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.menu-bar-site-icon {
    max-width: 100%;
    width: var(--menu-toggle-button-size);
    height: calc(1.3 * var(--menu-toggle-button-size));
    background: url('img/wipce_logo_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-bar-spacer {
    flex: 1;
}

.menu-bar-social-links img {
    width: 1.2rem;
}

/* Menu bar mobile */

header{
    
    right: 0;
    width: 100%;
    bottom: 0;
    height: var(--menu-bar-width);
    
    
}
.menu-bar {
    background-color: var(--color-accent-muted);
    background: linear-gradient(270deg, #000 0%, var(--color-accent-muted) 50%, var(--color-accent-alt) 100%);

    flex-direction: row-reverse;
    padding: 0;
    padding-right: calc(var(--menu-bar-width) - var(--menu-toggle-button-size));
}
.menu-bar-site-icon {
    display: none;
}

.menu-bar-social-links {
    display: none;
    color: #fff;
}
.menu-bar-social-links * {
    text-align: center;
}

.menu-bar-link * {
    margin: 0;
}
.menu-bar-link, #drawer-menu-toggle-close-label {
    color: white;
    text-decoration: none;
    font-size: calc(0.4 * var(--menu-bar-width));
    font-weight: bold;
    text-orientation: sideways;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    user-select: none;
    white-space: nowrap;
    margin-top: 1em;
}
#drawer-menu-toggle-close-label:hover {
    text-decoration: underline;
}
#drawer-menu-toggle-close-label {
    transition: height 0.2s, opacity 0.2s, width 0.2s;
    cursor: pointer;
    margin-bottom: 1em;
}
#drawer-menu-toggle-close-label {
    opacity: 0.0;
    height: 0;
}
#drawer-menu-toggle-input:checked ~ * #drawer-menu-toggle-close-label {
    height: 2em;
    opacity: 1;
}
.menu-bar-link:hover {
    text-decoration: underline;
}


@media screen and (max-width: 750px) {
    .menu-bar-link {
        writing-mode: unset;
        transform: unset;
        text-orientation: unset;
        /* padding: 0 1em; */
        margin-top: unset;
        margin-right: 1em;
    }
    #drawer-menu-toggle-close-label {
        writing-mode: unset;
        transform: unset;
        text-orientation: unset;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-right: 0;
        height: unset;
        width: 0;
        text-align: right;
        margin-top: unset;
        margin-bottom: unset;
    }
    #drawer-menu-toggle-input:checked ~ * #drawer-menu-toggle-close-label {
        width: 2em;
    }
}

footer {
    margin-bottom: var(--menu-bar-width);
}

/* Menu bar desktop */

@media screen and (min-width: 751px) {

    header{
        height: auto;
        width: var(--menu-bar-width);
        
        
        left:auto;
        right: 0;
        top: 0;
        bottom: 0;
        
        
    }
    .menu-bar {
        background-color: var(--color-accent-muted);
        background: linear-gradient(180deg, #000 0%, var(--color-accent-muted) 50%, var(--color-accent-alt) 100%);

        flex-direction: column;
        
        padding: var(--menu-bar-padding) 0;
        padding-bottom: var(--menu-bar-padding-bottom);
    }

    .menu-bar-site-icon {
        display: inherit;
    }

    .menu-bar-social-links {
        display: flex;
        flex-flow: column;
    }
    .menu-bar-social-links .menu-root * {
        margin: 0.6rem 0;
    }

    body {
        margin-right: var(--menu-bar-width);
    }
    footer {
        margin-bottom: 0;
    }
}

/* Menu button styling */

#drawer-menu-toggle-input {
    display: none;
}
.drawer-menu-toggle-label {
    display: block;
    position: relative;
    width: var(--menu-toggle-button-size);
    height: var(--menu-toggle-button-size);
    cursor: pointer;
}
.drawer-menu-toggle-label > span,
.drawer-menu-toggle-label > span::before,
.drawer-menu-toggle-label > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
    transition-duration: .25s;
    top: calc(0.5 * var(--menu-toggle-button-size));
}
.drawer-menu-toggle-label > span::before {
    content: '';
    top: calc(-0.33 * var(--menu-toggle-button-size));
}
.drawer-menu-toggle-label > span::after {
    content: '';
    top: calc(0.33 * var(--menu-toggle-button-size));
}

#drawer-menu-toggle-input:checked ~ * .drawer-menu-toggle-label > span {
    transform: rotate(45deg);
}
#drawer-menu-toggle-input:checked ~ * .drawer-menu-toggle-label > span::before {
    top: 0;
    transform: rotate(0deg);
}
#drawer-menu-toggle-input:checked ~ * .drawer-menu-toggle-label > span::after {
    top: 0;
    transform: rotate(90deg);
}

/* Menu collapsable behaviour */

#drawer-menu-toggle-input:checked ~ #drawer-menu-root {
    right: var(--menu-bar-width) !important;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.9);
}
#drawer-menu-root {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: var(--drawer-menu-width-mobile);
    min-width: 15rem;
    max-width: 100%;
    overflow-y: auto;
    margin: 0;
    list-style: none;
    transition-duration: .25s;

    border-right: 1px solid var(--drawer-menu-color);

    color: #fff;
    background-color: var(--color-accent-muted);
    background: linear-gradient(180deg, #000 0%, var(--color-accent-muted) 50%, var(--color-accent-alt) 100%);

    z-index: -1;
}

@media screen and (max-width: 750px) {
    #drawer-menu-root {
        bottom: var(--menu-bar-width);
    }
    #drawer-menu-toggle-input:checked ~ #drawer-menu-root {
        right: 0rem !important;
        border-right: none;
    }
}

/* Drawer items */

#drawer-menu-root {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.drawer-nav {
    margin-top: 5rem;
    width: 100%;
    border-top: 1px solid var(--drawer-menu-color);
}

.drawer-menu-root .menu-root > * {
    border-bottom: 1px solid var(--drawer-menu-color);
    align-items: center;
    text-align: center;
}
.drawer-menu-root .menu-root a {
    padding: 1rem;

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.drawer-menu-root .menu-root a:hover {
    text-decoration: underline;
}

.drawer-spacer {
    flex: 1;
}

.drawer-site-logo {
    font-size: 0px;
    content: '';
    width: 90%;
    height: 16rem;
    margin-bottom: var(--menu-bar-padding-bottom);
    background-image: url('img/wipce_logo_v.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Footer */

footer {
    padding: var(--v-footer-padding) var(--h-footer-padding);

    color: #fff;
    background-color: var(--color-accent-muted);
    background: linear-gradient(var(--color-accent-muted) 0%, #000 100%);

    display: flex;
    flex-flow: column;
    gap: 0rem; 
}

footer::before,
footer::after {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    height: 1.2vw;
    content: '';
    margin-left: calc(-1 * var(--h-footer-padding));
    margin-right: calc(-1 * var(--h-footer-padding));
    background-image: url("img/footer_hr.svg");
    background-size: auto 100%;
    background-position: center;
}
@media screen and (max-width: 1100px) {
    footer::before,
    footer::after {
        height: 0.8rem;
    }
}
@media screen and (max-width: 750px) {
    footer::before,
    footer::after {
        height: 1rem;
    }
}
footer::before {
    transform: translateY(calc(-1 * var(--v-footer-padding) + 100%));
}
footer::after {
    transform: translateY(calc(var(--v-footer-padding) - 100%));
}

/* Footer links */

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

.footer-row-info .menu-root > * {
    display: inline-block;
    margin-right: 1em;
}

/* Footer content */

.footer-row {
    display: flex;
}
.footer-row > * {
    margin: 0 1.5vw;
}
.footer-row > *:first-child {
    margin-left: 0;
}
.footer-row > *:last-child {
    margin-right: 0;
}

.footer-social-title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Rift', 'Arial Narrow', Arial, Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    display: inline-block;
    margin: 0.3vw;
}
.footer-social-links .menu-root {
    display: flex;
}
.footer-social-links .menu-root > * {
    display: flex;
    margin: 0.3vw;
}
.footer-social-links img {
    width: 2vw;
}

.footer-nav .menu-root {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 0.4rem;
    font-family: 'Rift', 'Arial Narrow', Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
}

.footer-nav .menu-root a {
    text-transform: uppercase;
    color: white;
}

.footer-spacer {
    flex: 1;
}

.footer-site-logo {
    font-size: 0px;
    
    height: 7vw;
    width: 18.5vw;
    display: inline-block;
    background: url('img/wipce_logo_h.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.footer-row-info {
    font-size: calc(0.8 * var(--default-font-size));
}
.footer-row-info > *, .footer-row-info .menu-root > * {
    color: white;
    text-decoration: none;
    margin: 0 1.5vw;
}
.footer-row-info > *:first-child, .footer-row-info .menu-root > *:first-child {
    margin-left: 0;
}
.footer-row-info > *:last-child, .footer-row-info .menu-root > *:last-child {
    margin-right: 0;
}


@media screen and (max-width: 750px) {
    footer {
        font-size: 1.5rem;
        gap: 2rem;
    }
    .footer-social-root, footer nav {
        width: 50%;
        display: inline-block;
    }
    .footer-row, footer nav, footer .footer-site-logo {
        margin-bottom: 1rem;
    }
    .footer-site-logo {
        background-position: 0% 0%;
        height: 20vw;
        width: 60vw;
        min-height: 5rem;
    }

    .footer-social-links { margin-top: 0.5rem; }
    .footer-social-links img { width: 2rem; }
    .footer-social-links .menu-root > * { margin: 0 0.5rem; }
    .footer-social-links .menu-root > *:first-child { margin-left: 0rem;}
    .footer-social-links .menu-root > *:last-child { margin-right: 0rem;}

    .footer-spacer {
        display: none;
    }

    .footer-row {
        flex-flow: column-reverse;
        /*gap: 1rem;*/
    }
    .footer-row > * {
        margin: 1.5vw 0;
    }

    .footer-row-info {
        flex-flow: row;
    }
    .footer-row-info .block-menu {
        flex: 1;
        margin-left: 3vw;
    }
}

/* Wisp forms layout */


.field-group {
    display: flex;
    flex-flow: column;
    margin: 1em 0;
}

.field-group label {
    text-transform: uppercase;
    font-weight: bold;
}

.field-group input[type='text'],
.field-group input[type='password'],
.field-group input[type='email'] {
    margin-top: 0.5rem;
    padding-bottom: 0.25em;
    border-radius: 0;
    border: none;
    width: 100%;
    background-color: transparent;
    color: black;

    border-bottom: 1px solid black;
    transition: border-bottom 0.25s, box-shadow 0.25s;
}
.field-group input[type='text']:focus, 
.field-group input[type='password']:focus, 
.field-group input[type='email']:focus {
    outline: none;
    border-bottom: 1px solid var(--color-accent);
    box-shadow: 1px -2px 0px -1px var(--color-accent) inset;
}


.field-group {
    --checkbox-size: 1.3em;
    --checkbox-inner-size: 0.7em;
    --checkbox-label-gap: 0.4em;
}
.field-group:has(input[type='checkbox']) {
    display: flex;
    /* flex-flow: row-reverse; */
    justify-content: left;
}
.field-group:has(input[type='checkbox']) label {
    text-transform: unset;
}
.field-group:has(input[type='checkbox']) input {
    /* display: none; */
    width: 1px;
    height: 1px;
    opacity: 0;
}
.field-group:has(input[type='checkbox']) label {
    position: relative;
    margin-left: calc(var(--checkbox-label-gap) + var(--checkbox-size));
}
.field-group:has(input[type='checkbox']) label::before {
    content: '';
    position: absolute;
    display: inline;
    border-radius: 999999999999px;

    right: calc(100% + var(--checkbox-label-gap));
    
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border: 0.1em solid var(--color-accent-muted);
    background-color: white;
}
.field-group:has(input[type='checkbox']:focus) label::before {
    border: 0.2em solid var(--color-accent);
}
.field-group:has(input[type='checkbox']:checked) label::after {
    position: absolute;
    content: '';
    display: inline-block;
    border-radius: 99999999px;
    
    right: calc(100% + var(--checkbox-label-gap) + 0.5 * var(--checkbox-size) - 0.5 * var(--checkbox-inner-size));
    top: calc(0.5 * var(--checkbox-size) - 0.5 * var(--checkbox-inner-size));

    width: var(--checkbox-inner-size);
    height: var(--checkbox-inner-size);
    background-color: var(--color-accent-muted);
}

/* Form */

.contact-form * {
    font-size: 1rem;
}


@media screen and (max-width:750px){
    .contact-form-root h2::before {
        margin-left:0;
    }
    .contact-form-root .tagline-large {
        margin-left: 1rem;
        display: block;
    }
}

.contact-form {
    margin: var(--v-content-padding) 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.contact-form label {
    text-transform: uppercase;
}

.form-label-checkbox {
    text-transform: none !important;
}

.contact-form .form-label {
    display: block;
    font-weight: bold;
}

.contact-form .field-container {
    width: 80%;
    position: relative;
    display: inline-block;
}
.contact-form input[type='text'],
.contact-form input[type='email'] {
    margin-top: 0.5rem;
    padding-bottom: 0.25em;
    border-radius: 0;
    border: none;
    width: 100%;
    background-color: transparent;
    color: black;

    border-bottom: 1px solid black;
    transition: border-bottom 0.25s, box-shadow 0.25s;
}
.contact-form input[type='text']:focus, 
.contact-form input[type='email']:focus {
    outline: none;
    border-bottom: 1px solid var(--color-accent);
    box-shadow: 1px -2px 0px -1px var(--color-accent) inset;
}

.contact-form input[type='checkbox'] {
    display: inline-block;
}

.radio-group {
    padding-top: 1.6rem;
}

.radio, .checkbox, .checkbox label {
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: left;
}
.radio + .radio {
    margin-top: 12px;
}
.radio input {
    display: none;
}
.radio input + span, .checkbox input ~ label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
}
.radio input + span:before, .checkbox input ~ label:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    background: #fff;
}
.radio input + span:after, .checkbox input ~ label:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: var(--color-accent-muted);
    position: absolute;
    border-radius: 50%;
    top: 6px;
    left: 6px;
    opacity: 0;
    transform: scale(0, 0);
    transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
.radio input:checked + span:after, .checkbox input:checked ~ label:after {
    opacity: 1;
    transform: scale(1, 1);
}

.checkbox input {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.btn {
    border: 2px solid var(--color-accent-muted);
    background-color: var(--gray-light);
    color: black;
    padding: 0.7rem 1.4rem;
    transition: all 0.15s;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;

    --btn-text-color: white;
    --btn-color: #444;
    --btn-hover-color: var(--color-accent);
    --btn-active-color: var(--color-accent-dark);
    --btn-disabled-color: #777;
}
.btn {
    color: var(--btn-text-color);
    background-color: var(--btn-color);
    border-color: var(--btn-color);
}
.btn:active {
    background-color: var(--btn-color) !important;
    border-color: var(--btn-color) !important;
}
.btn:focus {
    color: var(--btn-text-color);
    background-color: var(--btn-color) !important;
    box-shadow: none;
    border-color: var(--btn-hover-color) !important;
}
.btn:hover {
    color: var(--btn-text-color);
    background-color: var(--btn-hover-color) !important;
    border-color: var(--btn-hover-color)  !important;
}
.btn:disabled {
    background-color: var(--btn-disabled-color);
    border-color: var(--btn-disabled-color);
}
.btn-primary {
    --btn-color: var(--color-accent-muted);
    --btn-hover-color: var(--color-accent);
    --btn-active-color: var(--color-accent-dark);
    --btn-disabled-color: #777;
}
.btn-danger {
    --btn-color: #900;
    --btn-hover-color: #f00;
    --btn-active-color: #900;
    --btn-disabled-color: #755;
}

.btn-sm {
    padding: 0.35rem 1.0rem;
    font-size: 0.9em;
}

.contact-form-controls {
    margin-bottom: 1.1rem;
    margin-top: 1.1rem;
}
.contact-form-controls.small {
    margin-bottom: 0.05rem;
    margin-top: 0.05rem;
}

.half-width {
    width: 49%;
}
.full-width {
    width: 100%;
}

@media screen and (max-width: 750px) {
    .half-width {
        width: 100%;
    }
}

/* Various background */
.bg-beach {
    background-image: url('img/banner_beach.jpg');
    background-size: cover;
    background-position: center;
}
.bg-forest {
    background-image: url('img/banner_forest.jpg');
    background-size: cover;
    background-position: center;
}

/* Wisp banner block */

:root {
    --banner-height-desktop: 40vw;
    --banner-height-mobile: 80vw;
}

.banner-block-root {
    margin-left: calc(-1.0 * var(--h-content-padding));
    margin-right: calc(-1.0 * var(--h-content-padding));

    background-position: center;
    background-size:cover;

    padding: var(--v-banner-padding) var(--h-banner-padding);

    height: var(--banner-height-desktop);
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

    margin-bottom: var(--v-content-padding);
}

@media screen and (max-width: 750px) {
    .banner-block-root {
        height: var(--banner-height-mobile);
    }
}

.banner-expand {
    min-height: var(--banner-height-desktop);
    height: auto;
    padding-top: var(--v-banner-padding);
    padding-bottom: var(--v-banner-padding);
}

@media screen and (max-width: 750px) {
    .banner-expand {
        min-height: var(--banner-height-mobile);
    }
}

.banner-shrink {
    min-height: unset !important;
}

.banner-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-block-root {
    color: white;
}

.banner-light {
    color: black;
}

/* video banner */

.landing-vid-container {
    overflow: hidden;
    position: relative;

    height: 30rem;
    height: 56.25vw; 
    max-height: 100vh;
}

@media screen and (max-width: 750px) {
    .landing-vid-container {
        /* 1 pixel is added because Safari can't calc */
        height: calc(100vh - var(--menu-bar-width) + 1px); /* Fallback */
        height: calc(100svh - var(--menu-bar-width)  + 1px); /* preferred but not well supported */
    }
    .landing-vid-container {
        font-size: 150%;
    }
}

.landing-vid, .landing-vid-img-container {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */

    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    
    background-size: contain;
    background-position: center;
}

/* mobile landscape */
@media screen and (max-width: 750px) and (max-height: 110vw) {
    .landing-vid, .landing-vid-img-container {
        height: 177.77777778vh;
        width: 100%; /* 100 * 16 / 9 */
        min-width: 56.25vw;
        min-height: 100%; /* 100 * 9 / 16 */
    }
}



.landing-vid-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    
    padding: var(--v-banner-padding) var(--h-banner-padding);
    display: relative;
}
.landing-vid-text {
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.49);
}

@media screen and (max-height: 500px) {
    .landing-vid-text {
        font-size: 5.8vh;
    }
    h1.landing-vid-text {
        font-size: 17vh;
    }
    .landing-vid {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

/* Specific banners */

/* 
    Workaround for Edge on iOS which ignores all dark mode settings
    and sets text to light gray, in which case it's unreadable on the 
    light background image.

    TODO: Do this in a way which doesn't ruin the site for all other dark
    mode users
*/
/*
@media (prefers-color-scheme: dark) {
    .about-summary {
        background-image: none !important;
    }
}
*/

.about-interest-banner {
    z-index: 1;
    align-items: left;
    flex-flow: column;
    justify-content: center;
    height: 40vw;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5), 1px 1px 8px rgba(0,0,0,0.9);
    
}
.about-interest-banner > * {
    padding-left: var(--h-content-padding);
    padding-right: var(--h-content-padding);
    padding-top: 13%;
}
.about-interest-banner h2 {
    font-weight: 600;
    color: white;
}
.about-interest-info {
    margin-top: 1.1vw; 
}
@media screen and (max-width: 750px) {
    .about-interest-banner {
        height: 100vw;
        min-height: 30em;
    }
    .about-interest-banner > * {
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 39%;
    }
    .about-interest-banner h2 {
        width: calc(1em * 10);
        max-width: 100%;
    }
    .about-interest-info {
        margin-top: 1vw; 
    }
}


.home-sponsor {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: var(--v-content-padding) 0;
}
.home-sponsor h2 {
    margin-bottom: 2.5vw;
}
.home-sponsor-person {
    min-width: 16vw;
    height: 22vw;
    overflow: hidden;
    text-align: center;
    flex: 0;
}
.home-sponsor-person img {
    margin-left: -300%;
    margin-right: -300%;
    height: 100%;
    display: inline-block;
}
.home-sponsor-info {
    flex: 1;
    padding: 0 3vw;
}
.home-sponsor-logo {
    flex: 0;
    float: right;
    margin: 0 0 2vw 3vw;
}
.home-sponsor-logo img {
    width: 10vw; 
}

.home-sponsor-header-bar .home-sponsor-logo {
    float: unset;
    display: none;
}
.home-sponsor-header-bar {
    display: flex;
    align-items: center;
}
.home-sponsor-header-bar h2 {
    flex: 1;
}
@media screen and (max-width: 750px) {
    .home-sponsor-logo {
        display: none;
    }
    .home-sponsor-header-bar .home-sponsor-logo {
        display: block;
    }
    .home-sponsor-header-bar {
        margin-bottom: 2em;
    }
    .home-sponsor-info {
        padding: 0 1.5rem;
    }
    .home-sponsor-logo img {
        width: 7rem;
    }
    .home-sponsor-person {
        float: left;
        min-width: 6rem;
        min-height: 9rem;
        width: 35vw;
        height: 45vw;
        margin-right: 1em;
        margin-bottom: 1em;
    }
}

.home-titahi {
    background-color: var(--gray-light);
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--v-content-padding) var(--h-content-padding);
    color: #000;
}
.home-titahi h2 {
    margin-bottom: 2.5vw;
}
.home-titahi-logo {
    width: 15vw;
    flex: 0;
}
.home-titahi-person {
    min-width: 17vw;
    height: 25vw;
    overflow: hidden;
    text-align: center;
}
.home-titahi-person img {
    margin-left: -300%;
    margin-right: -300%;
    height: 100%;
    display: inline-block;
}
.home-titahi-info {
    flex: 1;
    padding: 0 3vw;
}
.home-titahi-info-body {
    display: flex;
    flex-flow: row;
}
.home-titahi-header-bar {
    display: flex;
}
.home-titahi-header-bar .home-titahi-logo-container {
    display: none;
}
@media screen and (max-width: 750px) {
    .home-titahi-info {
        padding: 0 1.5rem;
    }
    .home-titahi-header-bar h2 {
        flex: 1;
    }
    .home-titahi-header-bar {
        margin-bottom: 2em;
    }
    .home-titahi-header-bar .home-titahi-logo-container {
        display: unset;
        min-width: 7em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        margin-right: 1em;
    }
    .home-titahi-logo-container img {
        height: 100%;
    }
}

/* Links */

.action-link-dark, .action-link-light {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1.3vw;

    display: inline-block;
    align-items: center;

    transition: transform 0.25s;
}
@media screen and (max-width: 750px){
    .action-link-dark, .action-link-light {
        font-size: 0.8rem;
    }
}
.action-link-dark:hover, .action-link-light:hover {
    transform: scale(1.2);
}
.action-link-dark > img, .action-link-light > img {
    display: inline-block;
    height: 2em;
    margin: 0.8em;

    transform: translateY(-0.3em);
}
.action-link-dark {
    color: white;
}
.action-link-light {
    color: var(--color-accent);
}

/* About - header */

.about-header {
    padding-top: var(--v-content-padding);
    padding-bottom: calc(0.5 * var(--v-content-padding));
}
.about-header h2 {
    padding-bottom: calc(0.5 * var(--v-content-padding));
    margin-bottom: 0;
}
@media screen and (max-width: 750px) {
    .about-header h2::before {
        margin-left: 0;
    }
}

/* About - Board */
.board-root {
    background-color: var(--gray-light);
    margin-left: calc(-1 * var(--h-content-padding));
    margin-right: calc(-1 * var(--h-content-padding));
    padding: var(--v-content-padding) var(--h-content-padding);

    overflow-x: hidden;
}

.board-root > h2 {
    padding-bottom: calc(0.5 * var(--v-content-padding));
}

@media screen and (max-width: 750px) {
    .board-root h2::before {
        margin-left: 0;
    }
}

/* About - Board carousel */

:root {
    /* Aspect ratio 0.77:1 */
    --bc-thumb-h: 10rem;
    --bc-thumb-h-mobile: 5rem;
    --bc-thumb-w: 7.7rem;
    --bc-margin-h: 0rem;
}

@media screen and (max-width: 750px) {
    :root {
        --bc-margin-h: 1.1rem;
    }
}

#board-carousel {
    margin-top: calc(1rem + var(--bc-thumb-h));
    margin-left: var(--bc-margin-h);
    margin-right: var(--bc-margin-h);
    height: 55vw;
    min-height: 35rem;
    max-height: 45rem;
}

#board-carousel .carousel-indicators {
    bottom: auto;
    top: calc(-1*var(--bc-thumb-h));
    margin: 0;
    justify-content: left;
}

#board-carousel .carousel-indicators > * {
    position: relative;
    display: block;

    height: var(--bc-thumb-h);
    width: var(--bc-thumb-w);
    background-color: transparent;

    border: none;

    text-align: center;
    justify-content: center;
    text-indent: 0;

    overflow: hidden;
}
#board-carousel .carousel-indicators img {
    margin-left: -300%;
    margin-right: -300%;
    
    height: 100%;
    display: inline;

    transition: transform 0.4s;
}
#board-carousel .carousel-indicators .active img {
    transform: scale(1.2);
}
#board-carousel .carousel-inner {
    height: 100%;
    padding-top: 2rem;
}

#board-carousel .carousel-item {
    background-color: var(--gray-light);;
    height: 100%;
}

#board-carousel .carousel-control-next {
    width: 2rem;
    right: calc(-0.5 * var(--h-content-padding) - 1rem - 0.5 * var(--bc-margin-h));
}

#board-carousel .carousel-control-prev {
    width: 2rem;
    left: calc(-0.5 * var(--h-content-padding) - 1rem - 0.5 * var(--bc-margin-h));
}

@media screen and (max-width: 750px) {
    #board-carousel .carousel-indicators > * {
        height: var(--bc-thumb-h-mobile);
    }
    #board-carousel .carousel-indicators {
        top: calc(-1*var(--bc-thumb-h-mobile));
    }
    #board-carousel {
        margin-top: calc(1rem + var(--bc-thumb-h-mobile));
    }
}

/* Board carousel slide content */

.board-person-image-root {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}
.board-person-image {
    width: 30vw;
    height: 40vw;
    max-width: 18rem;
    max-height: 24rem;
    overflow: hidden;
    display: block;
    text-align: center;
    
}
.board-person-image > img {
    height: 100%;
    margin-left: -200%;
    margin-right: -200%;
    display: inline;
}
.board-person-summary {
    margin-bottom: 1rem;
}
.board-person-summary span {
    display: block;
    font-weight: bold;
}
.board-person-summary h3 {
    font-size: 2vw;
}
@media screen and (max-width: 750px) {
    .board-person-summary h3 {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1200px) {
    .board-person-image-root {
        height: 100%;
    }
}

.board-person {
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    background-color: white;
    padding: 1rem;
}
.board-person-bio {
    flex: 1;
}

/* About sponsor */

.about-sponsor {
    padding: var(--v-content-padding) 0;
}

.about-sponsor-logo {
    flex: 0;
    float: right;
    margin: 0 0 2vw 3vw;
}
.about-sponsor-logo img {
    width: 13vw; 
}
.about-sponsor-info-header {
    display: flex;
    margin-top: calc(-0.5 * var(--v-content-padding));
    align-items: center;
}
.about-sponsor-info-header h2 {
    flex: 1;
}
@media screen and (max-width: 750px) {
    .about-sponsor-info {
        padding: 0 1.5rem;
    }
    .about-sponsor-logo img {
        width: 20vw;
        min-width: 7.5rem;
    }
}

/* Programme table layout */

.programme-intro-text {
    width: 50%; 
    margin-left: 0;
    margin-right: auto;
}
@media screen and (max-width: 700px) {
    .programme-intro-text {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

:root {
    --programme-border-radius: 1rem;
    --programme-date-height: 3rem;
    --programme-color-accent: #ca29ff;
}

.programme-table-container {
    overflow: auto;
    max-height: 90vh;
    margin-bottom: var(--v-banner-padding);
}

.programme-table {
}

.programme-table thead th:first-child,
.programme-table tbody th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  white-space: nowrap;
}

.programme-table .programme-row-date th,
.programme-table .programme-row-loc th {
    z-index: 2;
    position: sticky;
    top: 0;
    width: 25vw;
    padding-right: 2rem;
    
}
.programme-table .programme-row-date th:first-child,
.programme-table .programme-row-loc th:first-child {
    z-index: 3 !important;
}
.programme-row-date th {
    height: var(--programme-date-height);
    white-space: nowrap;
}
.programme-table .programme-row-loc th {
    top: var(--programme-date-height);
    height: var(--programme-date-height);
    white-space: nowrap;
}

.round-tl {
    border-radius: var(--programme-border-radius) 0 0 0;
}
.round-tr {
    border-radius: 0 var(--programme-border-radius) 0 0;
}
.round-br {
    border-radius: 0 0 var(--programme-border-radius) 0;
}
.round-bl {
    border-radius: 0 0 0 var(--programme-border-radius);
}

@media screen and (min-width: 1201px) {
    /* Disable vertical scrolling on large screens */
    .programme-table-container {
        max-height: unset;
    }
}


/* Program table appearance */

.programme-table td, 
.programme-table th {
    padding: 0.3rem 0.2rem;
    font-size: calc(0.75 * var(--default-font-size));
}


@media screen and (max-width: 1200px) {
    .programme-table td, 
    .programme-table th {
        font-size: calc(0.9 * var(--default-font-size));
    }
}

.programme-table td, .programme-table th {
    border: 2px solid white;
}
.programme-row-loc {
    border-bottom: 1rem solid white;
}
.programme-table tr:nth-child(even) td{
    background-color: var(--gray-medium);
}
.programme-table tr:nth-child(odd) td{
    background-color: var(--gray-light);
}
.programme-table td.blank {
    background-color: white !important;
}

.programme-table thead th:first-child,
.programme-table tbody th:first-child {
    background-color: var(--programme-color-accent);
    color: white;
    border-left: none;
    height: 3rem;
    font-weight: bold;

    padding-left: 0.8rem;
}
.programme-table td.important-cell {
    background-color: var(--programme-color-accent) !important;
    color: white;
    font-weight: bold;
}
.programme-row-date th {
    background-color: var(--color-accent-muted);
    color: white;
    padding-left: 0.8rem;
}
.programme-row-loc th {
    background-color: var(--gray-medium);
    color: black;
}
.programme-table .hidden {
    background-color: white !important;
}
.programme-table thead th:first-child {
    font-weight: bold;
}

/* Theme tiles */

.themes-header {
    padding-bottom: calc(0.25 * var(--v-content-padding));
}
.themes-intro {
    padding-bottom: calc(0.25 * var(--v-content-padding));
}
@media screen and (max-width: 750px) {
    .themes-header::before {
        margin-left: 0;
    }
}

#theme-tile-root {
    margin-bottom: var(--v-content-padding);
}
@media screen and (max-width:575px) {
    .theme-tile-title {
        margin-top: 1em;
    }
}

@media screen and (min-width:575px) {
    #theme-tile-root .row:first-child {
        margin-bottom: 1em;
    }
}

.theme-tile-title {
    background-color: var(--color-accent-muted);
    color: white;
    height: 5em;
    padding: 0 1em;
    width: 100%;

    border: none;
    border-radius: 0.5em;
    outline:none;

    text-decoration: none;
    font-weight: bold;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;

    transition: border-radius 0.35s;
}
.theme-tile-title[aria-expanded="true"] {
    border-radius: 0.5em 0.5em 0 0;
}

.theme-tile-info {
    background-color: var(--gray-medium);
    color: black;
    position: relative;
    z-index: -1;

    border-radius: 0 0 0.5em 0.5em;
}

.theme-tile-info > * {
    padding: 1em;
}

/* Legal info */

.legal-block {
    padding: var(--v-content-padding) 0;
}
.legal-block h2 {
    padding-bottom: calc(0.5 * var(--v-content-padding));
}
.legal-block h3 {
    padding: calc(0.5 * var(--v-content-padding)) 0 calc(0.25 * var(--v-content-padding)) 0;
}

/* Util */

.more-less-collapse {
    background: none;
    border: none;
    padding: 0;
    color: var(--color-accent-muted);
    text-decoration: underline;
    white-space: nowrap;
    padding-left: -1em;
    display: inline-block;
}

.more-less-collapse::after {
    content: '▾';
    display: inline-block;
    text-decoration: none !important;
    margin-left: 0.5em;
    transition: transform 0.1s;
}
.more-less-collapse[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.big-h-padding-desktop {
    padding-left: 15%;
    padding-right: 15%;
}

@media screen and (max-width: 750px) {
    .big-h-padding-desktop {
        padding-left: 0;
        padding-right: 0;
    }
}

.no-padding {
    padding: 0;
}

.page-width {
    margin: 0 calc(-1 * var(--h-content-padding));
}

@media screen and (min-width: 751px) {
    .mobile-only {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .desktop-only {
        display: none;
    }
}

/* Registration flow */
.stage-bar {
    font-size: calc(1.9 * var(--default-font-size));
    font-weight: bold;
    font-family: 'Rift', Arial, Helvetica, sans-serif;
}

/* Order invite form */

.order-invite-sub-form {
    margin-bottom: 2em;
}

.order-invite-sub-header {
    display: flex;
    --order-invite-btn-size: calc(2.0 * var(--default-font-size));
}

.order-invite-sub-title, .order-invite-sub-title-name {
    text-transform: uppercase;
    font-family: 'Rift', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.6em;
}
.order-invite-sub-title {
    color: var(--color-accent);
}
.order-invite-sub-title-name {
    padding: 0 0.5em;
}

.order-invite-sub-header-spacer {
    flex: 1;
}

.order-invite-sub-header button {
    background-color: transparent;
    border: none;
    color: var(--color-accent-muted);
    font-weight: bold;
    font-size: 1.7em;
    height: var(--order-invite-btn-size);
    width: var(--order-invite-btn-size);
    padding: 0;
}
.order-invite-action-buttons > * {
    margin-right: 1em;
}

/* Registration complete page */

.registration-complete-copy {
    margin-bottom: 4em;
}
.registration-complete-copy, .registration-complete-copy * {
    font-weight: bold;
}

/* dashboard links */

.dashboard-links-root {
    margin: auto;

    display: block;

    text-align: center;

    margin-bottom: 2em;

    --dashboard-item-width: calc(11.0 * var(--default-font-size));
    --dashboard-item-font-size: calc(0.16 * var(--dashboard-item-width));
    --dashboard-item-height: calc(0.5 * var(--dashboard-item-width));
}
@media screen and (max-width: 400px) {
    .dashboard-links-root {
        --dashboard-item-width: 35vw;
    }
}
.dashboard-link-container {
    background-color: var(--color-accent-muted);
    background: linear-gradient(180deg, var(--color-accent-dark) 0%, var(--color-accent-muted) 35%, var(--color-accent-alt) 100%);

    margin: 1em;
    min-width: var(--dashboard-item-width);
    min-height: var(--dashboard-item-height);

    display: inline-block;
    position: relative;
}
.dashboard-link {
    color: white;
    font-family: 'Rift', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: var(--dashboard-item-font-size);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 1em 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    line-height: 1.2em;
}
.dashboard-link:hover {
    text-decoration: underline;
}

/* profile */
.profile-invoice-downloads {
    padding: 2em 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.invoice-download-button {
    text-decoration: none;
    padding: 1em;
    border: 0.15em solid var(--color-accent-muted);
    font-weight: 400;
    display: inline-block;
    margin: 0.5em;
}
.invoice-download-button:hover {
    text-decoration: underline;
}